html, body{
    margin:0;
    padding:0;
    height: 100%;
    display:flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
/*Оформление шапки*/
header{
    background-color: rgb(105, 16, 16);
    width:100%;height: fit-content;
    margin:0;
    display:grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: auto auto;
    justify-items: stretch;
}
header img{
    width: 90%;height: auto;
    object-fit: contain;
    margin:5%;
}
header h1{
    color:burlywood;
    align-self: center;
    font-size: 2rem;
    margin:0;
}
/*Навигация*/
header nav{
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 3fr);
    justify-items:stretch;
}
header nav a{
    color:burlywood;
    position:relative;
    text-align: center;
    padding:2% 0 2% 0;
    border: 1px solid rgb(90, 16, 16);
    background-color:rgb(105, 16, 16);
}
nav a::before{
    content:"";
    opacity:0;
    position:absolute;
    top:0;left:0;
    width:100%;height: 100%;
    background-color:rgba(255, 255, 255, 0.1);
}
nav a:hover::before{
    opacity: 1;
}
#toggle{
    display: none;
}
.menu-btn{
    position:fixed;
    background-color: rgb(105, 16, 16);
    border-radius: 5px;
    padding:1%;
    width:40px;height:40px;
    top:10px;right:10px;
    visibility: hidden;
    display:none;
    cursor: pointer;
    z-index: 3;
}

/*Каталог*/
main{
    flex:1;
    padding:5%;margin:2%;
    background-color: burlywood;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
#search{
    background-color:brown;
    border-radius: 20px;
    border-color: rgb(130, 16, 16);
    color:burlywood;
    padding:1%;
    margin-bottom:1%;
    width:50%;
}
#search::placeholder{
    color:burlywood;
}
#select_mark_block{
    background-color: rgb(130, 16, 16);
    color:burlywood;
    border-radius: 20px;
    padding:1%;
    display: flex;
    flex-direction: row;
}
#select_mark_block legend{
    white-space: nowrap;
}
#select_mark{
    background-color:brown;
    border-radius: 20px;
    border-color: rgb(130, 16, 16);
    color:burlywood;
    padding:1%;
}
#books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    justify-items: stretch;
}
.book{
    position:relative;
    margin:2%;
}
.book img{
    width:100%;height:100%;
    object-fit:cover;
}
.interface_book{
    position:absolute;
    top:0;left:0;
    width:100%;height:100%;
    background-color: rgb(165, 42, 42);
    z-index: 1;
    display:grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 15% 15% 55% 10%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

    transition: opacity 1s;
    opacity:0;
}
.book:hover .interface_book{
    opacity:0.9;
}
.button_book{
    position:relative;
    height: fit-content;width:100%;
    min-width: fit-content;
    border: 2px solid burlywood;
    background-color: rgb(165, 42, 42, 0);
    border-radius: 10px;
    color:burlywood;
    width:100%;
    z-index: 2;
    cursor:pointer;
    overflow: hidden;
    text-align: center;
}
.button_read, .button_to_read, .button_more{
    grid-column: span 2;
}
.button_read{
    width:50%;
}
.button_more, .button_to_read{
    align-self: end;
}
.button_book::before{
    content: "";
    visibility: hidden;
    position:absolute;
    width:100%; height:100%;
    left:0; top:0;
    background-color: coral;
    z-index: -1;
    transition: transform 0.6s;
    transform: translateX(-200%);
}
.button_book:hover::before{
    visibility:visible;
    transform:translateX(0);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(105, 16, 16);
    color:burlywood;
}


/*Макет сайта для мобильных устройств*/
@media(max-width:700px){
    #books{
        grid-template-columns: repeat(2, auto);
    }
    .button_book::before{
        display:none;
    }
    /*Адаптация навигации*/
    nav{
        visibility: hidden;
        display:none;
    }

    .menu-btn {
        visibility: visible;
        display:grid;
        align-content: center;
        padding:1%;
    }

    .icon-burger, .icon-burger::before, .icon-burger::after{
        content:"";
        display:block;
        background-color:coral;
        height:5px;width: auto;
        border-radius: 5px;
    }
    .icon-burger:before{
        transform: translateY(-15px);
    }
    .icon-burger::after{
        transform:translateY(10px);
    }


    #toggle:checked ~ nav{
        visibility:visible;
        display:block;
        width:100%;
        position:fixed;
        margin:0;
        top:0;right:0;
        z-index: 2;
    }
    #toggle:checked ~ nav a{
        display:block;
    }
    #toggle:checked + .menu-btn .icon-burger:before{
        transform: translateY(0) rotate(90deg);
    }
    #toggle:checked + .menu-btn .icon-burger:after{
        display:none
    }
    #toggle:checked + .menu-btn .icon-burger{
        transform: rotate(45deg);
    }
}

@media(max-width:400px){
    #books{
        grid-template-columns: auto;
    }

    /*Адаптация шапки*/
    header{
        grid-template-columns: 20% 80%;
    }
}
