html, body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
/*Оформление шапки*/
header{
    background-color: rgb(105, 16, 16);
    width:100%;height: max-content;
    margin:0;
    display:grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto auto;
    justify-items: stretch;
}
header img{
    width: 90%;height: auto;
    object-fit: contain;
    margin:5%;
}
header h1{
    color:burlywood;
    align-self: center;
    font-size: 2rem;
    margin:0;
}
/*Навигация*/
header nav{
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, calc(100%/3));
    justify-items:stretch;
}
header nav a{
    color:burlywood;
    position:relative;
    text-align: center;
    padding:2% 0 2% 0;
    border: 1px solid rgb(90, 16, 16);
    background-color:rgb(105, 16, 16);
}
nav a::before{
    content:"";
    opacity:0;
    position:absolute;
    top:0;left:0;
    width:100%;height: 100%;
    background-color:rgba(255, 255, 255, 0.1);
}
nav a:hover::before{
    opacity: 1;
}
#toggle{
    display: none;
}
.menu-btn{
    position:fixed;
    background-color: rgb(105, 16, 16);
    border-radius: 5px;
    padding:1%;
    width:40px;height:40px;
    top:10px;right:10px;
    visibility: hidden;
    display:none;
    cursor: pointer;
    z-index: 3;
}

main{
    padding:2%;
    margin:2%;
    border-radius: 20px;
    color: brown;
    background-color: burlywood;
    font-family: Arial, sans-serif;
}

h3 {
    color: rgb(130, 16, 16);
}



#support-form{
    display:flex;
    flex-direction: column;
    padding:5%;
    background-color:rgb(105, 16, 16);
    color:burlywood;
    border-radius: 10px;
    width:fit-content;
}
#support-form h3{
    color:burlywood;
}
#support-form legend{
    font-weight: bold;
}
#support-form input, #support-form textarea{
    background-color:rgb(130, 16, 16);
    border-radius: 10px;
    border-color: brown;
    color:burlywood;
    padding:2%;
    margin:2%;
    width:100%;
}
#support-form textarea{
    resize: none;
}
#support-form div{
    width:90%;
    box-sizing: border-box;
}

.button_form{
    display: block;
    background-color: burlywood;
    border-radius: 10px;
    color:brown;
    padding:2%;
    width:fit-content;
    border-color: rgb(130, 16, 16);
    cursor:pointer;
    margin-top:10%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(105, 16, 16);
    color:burlywood;
}

/*Макет сайта для мобильных устройств*/
@media(max-width:700px){
    /*Адаптация навигации*/
    nav{
        visibility: hidden;
        display:none;
    }

    .menu-btn {
        visibility: visible;
        display:grid;
        align-content: center;
        padding:1%;
    }

    .icon-burger, .icon-burger::before, .icon-burger::after{
        content:"";
        display:block;
        background-color:coral;
        height:5px;width: auto;
        border-radius: 5px;
    }
    .icon-burger:before{
        transform: translateY(-15px);
    }
    .icon-burger::after{
        transform:translateY(10px);
    }


    #toggle:checked ~ nav{
        visibility:visible;
        display:block;
        width:100%;
        position:fixed;
        margin:0;
        top:0;right:0;
        z-index: 1;
    }
    #toggle:checked ~ nav a{
        display:block;
    }
    #toggle:checked + .menu-btn .icon-burger:before{
        transform: translateY(0) rotate(90deg);
    }
    #toggle:checked + .menu-btn .icon-burger:after{
        display:none
    }
    #toggle:checked + .menu-btn .icon-burger{
        transform: rotate(45deg);
    }
}

@media(max-width:400px){
    /*Адаптация шапки*/
    header{
        grid-template-columns: 20% 80%;
    }
}